.nav-links-container {
  display: flex;
 
}

.nav-links {
  display: flex;
  position: fixed;
  top: 2rem;
  right: 4rem;
  z-index: 10;
  border-radius: .5rem;
  border: .1rem solid white;
  background: linear-gradient(90.82deg, rgba(62, 82, 106, 0.6) 1.7%, rgba(62, 82, 106, 0.1) 99.78%);
  backdrop-filter: blur(25px);
  
}

.nav-links li {
  padding: 1rem 3rem;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.nav-links li:hover {
  background-color: var(--button-bg);
}
