* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto', sans-serif;

}

:root {
  --bg-color-light: #3E526A;
  --bg-color-dark: rgba(62, 82, 106, 0.1);
  --button-bg: #01022D;
  --bigger-font: 3rem;
  --big-font: 2rem;
  --little-big-font: 1.5rem;
  --normal-font: 1rem;
  --small-font: .8rem;
  --smaller-font: .5rem;
}


body {
  width: 100vw;
  height: 100vh;
  
}


